{% extends "base.html" %}

{% block content %}


<div class="container my-3">
    <h1 class="heading text-center my-3">Dashboard</h1>
    <div class="row">
        <div class="col-md-4 offset-md-1">
            <canvas id="expensesChart"></canvas>
        </div>
    </div>

    <div class="container">
    <div class="row my-4">
        <div class="col-md-4">
            <div class="card text-center first_card">
                <div class="card-body">
                    <h5 class="card-title">Total Expenses</h5>
                    <p class="card-text display-4">{{ total_expenses }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center second_card">
                <div class="card-body">
                    <h5 class="card-title">Top Categories</h5>
                    <p class="card-text">{{ top_categories }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('expensesChart').getContext('2d');
    const expensesChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: {{ chart_labels|tojson }},
            datasets: [{
                label: 'Total Expense',
                data: {{ chart_data|tojson }},
                backgroundColor: [
                    '#FF6384', '#36A2EB', '#FFCE56', '#4CAF50', '#FF9F40', '#9966FF', '#FF6B6B', '#33B5E5'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                tooltip: {
                    enabled: true,
                }
            }
        }
    });
</script>
{% endblock %}
